@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
 -fx-font-family: "Poppins", serif;
}

.page-title {
    -fx-text-fill: #5e24c3;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sidebar-button {
    -fx-text-fill: #b1b1b1;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.primary-button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #5e24c3;
}